In [1]:
# for 문으로 실행할 수 있는 4가지 -> 1.딕셔너리, 2.리스트 3. 튜플 4. 문자열
# 여러개를 넣을 수 있는 값들 -> for문 가능, index number 부여 가능
# for k in d.keys(); 형태로 딕셔너리 접근

In [2]:
# "강감찬1"값이 있는 key와 value값만 출력해 주세요
# 답 : key : 1 / value : 강감찬1
# d.keys()
# k=2 -> d[2] -> "강감찬1"

for d in list_v2:
    print(d)
    for k in d.keys():
        if d[k] == "강감찬1":
            print(k, " : ",d[k])

NameError: name 'list_v2' is not defined

In [ ]:
# "강감찬1"이라는 값이 포함되어 있는 부분의 딕셔너리의 전체 key와 value를 출력하기
# 답 :
# key : 1 / value : 강감찬1
# key : 2 / value : 강감찬2

for d in list_v2:
    print(d.values())
    
"aaa" in ["aaac","bbb","ccc"]

dict_values(['홍길동1', '홍길동2'])
dict_values(['이순신1', '이순신2'])
dict_values(['강감찬1', '강감찬2'])

False

In [ ]:
# list_v2안에 강감찬1의 값이 있으면 true 없으면 false
for d in list_v2:
    if "강감찬1" in d.values() :
        # print(d.values(), "강감찬1" in d.values())
        for k in d.keys():
            print(k, " : ",d[k])

1  :  강감찬1
2  :  강감찬2

In [ ]:
### [문제] key값이 1~100까지, value값이 홍길동1~홍길동100까지의 값 생성하기
# {1:"홍길동1", 2:"홍길동2",~100:"홍길동100"}
# 딕셔너리 변수명 : dict_100
# 딕셔너리는 키값이 다르면 계속 추가된다.

In [ ]:
dict_100 = {}
for i in range(1,101, 1):
    dict_100[i] = "홍길동{}".format(i)
print(dict_100)

{1: '홍길동1', 2: '홍길동2', 3: '홍길동3', 4: '홍길동4', 5: '홍길동5', 6: '홍길동6', 7: '홍길동7', 8: '홍길동8', 9: '홍길동9', 10: '홍길동10', 11: '홍길동11', 12: '홍길동12', 13: '홍길동13', 14: '홍길동14', 15: '홍길동15', 16: '홍길동16', 17: '홍길동17', 18: '홍길동18', 19: '홍길동19', 20: '홍길동20', 21: '홍길동21', 22: '홍길동22', 23: '홍길동23', 24: '홍길동24', 25: '홍길동25', 26: '홍길동26', 27: '홍길동27', 28: '홍길동28', 29: '홍길동29', 30: '홍길동30', 31: '홍길동31', 32: '홍길동32', 33: '홍길동33', 34: '홍길동34', 35: '홍길동35', 36: '홍길동36', 37: '홍길동37', 38: '홍길동38', 39: '홍길동39', 40: '홍길동40', 41: '홍길동41', 42: '홍길동42', 43: '홍길동43', 44: '홍길동44', 45: '홍길동45', 46: '홍길동46', 47: '홍길동47', 48: '홍길동48', 49: '홍길동49', 50: '홍길동50', 51: '홍길동51', 52: '홍길동52', 53: '홍길동53', 54: '홍길동54', 55: '홍길동55', 56: '홍길동56', 57: '홍길동57', 58: '홍길동58', 59: '홍길동59', 60: '홍길동60', 61: '홍길동61', 62: '홍길동62', 63: '홍길동63', 64: '홍길동64', 65: '홍길동65', 66: '홍길동66', 67: '홍길동67', 68: '홍길동68', 69: '홍길동69', 70: '홍길동70', 71: '홍길동71', 72: '홍길동72', 73: '홍길동73', 74: '홍길동74', 75: '홍길동75', 76: '홍길동76', 77: '홍길동77', 78: '홍길동78', 79: '홍길동79', 80: '홍길동80', 81: '홍길동81', 82: '홍길동82', 83: '홍길동83', 84: '홍길동84', 85: '홍길동85', 86: '홍길동86', 87: '홍길동87', 88: '홍길동88', 89: '홍길동89', 90: '홍길동90', 91: '홍길동91', 92: '홍길동92', 93: '홍길동93', 94: '홍길동94', 95: '홍길동95', 96: '홍길동96', 97: '홍길동97', 98: '홍길동98', 99: '홍길동99', 100: '홍길동100'}

In [ ]:
dict_100

{1: '홍길동1',
 2: '홍길동2',
 3: '홍길동3',
 4: '홍길동4',
 5: '홍길동5',
 6: '홍길동6',
 7: '홍길동7',
 8: '홍길동8',
 9: '홍길동9',
 10: '홍길동10',
 11: '홍길동11',
 12: '홍길동12',
 13: '홍길동13',
 14: '홍길동14',
 15: '홍길동15',
 16: '홍길동16',
 17: '홍길동17',
 18: '홍길동18',
 19: '홍길동19',
 20: '홍길동20',
 21: '홍길동21',
 22: '홍길동22',
 23: '홍길동23',
 24: '홍길동24',
 25: '홍길동25',
 26: '홍길동26',
 27: '홍길동27',
 28: '홍길동28',
 29: '홍길동29',
 30: '홍길동30',
 31: '홍길동31',
 32: '홍길동32',
 33: '홍길동33',
 34: '홍길동34',
 35: '홍길동35',
 36: '홍길동36',
 37: '홍길동37',
 38: '홍길동38',
 39: '홍길동39',
 40: '홍길동40',
 41: '홍길동41',
 42: '홍길동42',
 43: '홍길동43',
 44: '홍길동44',
 45: '홍길동45',
 46: '홍길동46',
 47: '홍길동47',
 48: '홍길동48',
 49: '홍길동49',
 50: '홍길동50',
 51: '홍길동51',
 52: '홍길동52',
 53: '홍길동53',
 54: '홍길동54',
 55: '홍길동55',
 56: '홍길동56',
 57: '홍길동57',
 58: '홍길동58',
 59: '홍길동59',
 60: '홍길동60',
 61: '홍길동61',
 62: '홍길동62',
 63: '홍길동63',
 64: '홍길동64',
 65: '홍길동65',
 66: '홍길동66',
 67: '홍길동67',
 68: '홍길동68',
 69: '홍길동69',
 70: '홍길동70',
 71: '홍길동71',
 72: '홍길동72',
 73: '홍길동73',
 74: '홍길동74',
 75: '홍길동75',
 76: '홍길동76',
 77: '홍길동77',
 78: '홍길동78',
 79: '홍길동79',
 80: '홍길동80',
 81: '홍길동81',
 82: '홍길동82',
 83: '홍길동83',
 84: '홍길동84',
 85: '홍길동85',
 86: '홍길동86',
 87: '홍길동87',
 88: '홍길동88',
 89: '홍길동89',
 90: '홍길동90',
 91: '홍길동91',
 92: '홍길동92',
 93: '홍길동93',
 94: '홍길동94',
 95: '홍길동95',
 96: '홍길동96',
 97: '홍길동97',
 98: '홍길동98',
 99: '홍길동99',
 100: '홍길동100'}

In [ ]:
### 1부터 100까지의 합의 결과를 출력해 주세요
# 1+2+3+4...+100 = ?
i=1
sum=0
for i in range(1,101,1):
    sum += i
print(sum)

5050

In [ ]:
""" 아래 처럼 만들어 값을 넣어서 만들어 주세요 
[{1: '홍길동1', 2:' 홍길동2'},
 {1: '이순신1', 2: '이순신2'},
 {1: '강감찬1', 2: '강감찬2'}]
 """

list_v2 = []
dict_v1 = {}
dict_v2 = {}
dict_v3 = {}

# {1: '홍길동1', 2:' 홍길동2'}
dict_v1[1] = '홍길동1'
dict_v1[2] = '홍길동2'
print("dict_v1 = ", dict_v1)

dict_v2[1] = '이순신1'
dict_v2[2] = '이순신2'
print("dict_v2 = ", dict_v2)

dict_v3[1] = '강감찬1'
dict_v3[2] = '강감찬2'
print("dict_v3 = ", dict_v3)

list_v2.append(dict_v1)
list_v2.append(dict_v2)
list_v2.append(dict_v3)
print("list_v2 = ", list_v2)

dict_v1 =  {1: '홍길동1', 2: '홍길동2'}
dict_v2 =  {1: '이순신1', 2: '이순신2'}
dict_v3 =  {1: '강감찬1', 2: '강감찬2'}
list_v2 =  [{1: '홍길동1', 2: '홍길동2'}, {1: '이순신1', 2: '이순신2'}, {1: '강감찬1', 2: '강감찬2'}]

In [ ]:
print(list_v2)

[{1: '홍길동1', 2: '홍길동2'}, {1: '이순신1', 2: '이순신2'}, {1: '강감찬1', 2: '강감찬2'}]

In [ ]:
"""
key : 1 / values : 홍길동1
key : 2 / values : 홍길동2
key : 1 / values : 이순신1
key : 2 / values : 이순신2
key : 1 / values : 강감찬1
key : 2 / values : 강감찬2
"""
# for i in list_v2:
#     # print(i)
#     for k in i:
#         print("key : ")
for d in list_v2:
    for k in d.keys():
        print("key : {} / values : {}".format(k,d[k]))

key : 1 / values : 홍길동1
key : 2 / values : 홍길동2
key : 1 / values : 이순신1
key : 2 / values : 이순신2
key : 1 / values : 강감찬1
key : 2 / values : 강감찬2

In [ ]:
for d in list_v2:
    # print(d.keys())
    print(d)

{1: '홍길동1', 2: '홍길동2'}
{1: '이순신1', 2: '이순신2'}
{1: '강감찬1', 2: '강감찬2'}

In [ ]:
for k in d.keys():
    print(k,d[k]) # d[1] -> '홍길동1'

1 강감찬1
2 강감찬2

In [ ]:
""" 
구구단
아래와 같은 형태로 출력되도록 구구단 만들기
"""
for i in range(2,10):
    for j in range(1,10):
        print("{}X{}={}".format(i,j,i*j))
    print("")

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27

4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45

6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54

7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63

8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72

9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [ ]:
for i in range(0,10,1):
    print(i, end=' ')
# end='구분자' --> 구분자를 붙여서 옆으로 붙이기

0 1 2 3 4 5 6 7 8 9

In [ ]:
### 단이 끝날때 마다 줄바꿈, 하나의 단은 옆으로 붙여서 보여주기
for i in range(2,10):
    for j in range(1,10):
        print("{}X{}={} ".format(i,j,i*j), end=" ")
    print(" ")

2X1=2  2X2=4  2X3=6  2X4=8  2X5=10  2X6=12  2X7=14  2X8=16  2X9=18
3X1=3  3X2=6  3X3=9  3X4=12  3X5=15  3X6=18  3X7=21  3X8=24  3X9=27
4X1=4  4X2=8  4X3=12  4X4=16  4X5=20  4X6=24  4X7=28  4X8=32  4X9=36
5X1=5  5X2=10  5X3=15  5X4=20  5X5=25  5X6=30  5X7=35  5X8=40  5X9=45
6X1=6  6X2=12  6X3=18  6X4=24  6X5=30  6X6=36  6X7=42  6X8=48  6X9=54
7X1=7  7X2=14  7X3=21  7X4=28  7X5=35  7X6=42  7X7=49  7X8=56  7X9=63
8X1=8  8X2=16  8X3=24  8X4=32  8X5=40  8X6=48  8X7=56  8X8=64  8X9=72
9X1=9  9X2=18  9X3=27  9X4=36  9X5=45  9X6=54  9X7=63  9X8=72  9X9=81

In [ ]:
# 바깥쪽 for문은 고정, 안쪽 for문은 증가
for j in range(1,10):
    for i in range(2,10):
        print("{}X{}={} ".format(i,j,i*j), end=" ")
    print(" ")

2X1=2  3X1=3  4X1=4  5X1=5  6X1=6  7X1=7  8X1=8  9X1=9
2X2=4  3X2=6  4X2=8  5X2=10  6X2=12  7X2=14  8X2=16  9X2=18
2X3=6  3X3=9  4X3=12  5X3=15  6X3=18  7X3=21  8X3=24  9X3=27
2X4=8  3X4=12  4X4=16  5X4=20  6X4=24  7X4=28  8X4=32  9X4=36
2X5=10  3X5=15  4X5=20  5X5=25  6X5=30  7X5=35  8X5=40  9X5=45
2X6=12  3X6=18  4X6=24  5X6=30  6X6=36  7X6=42  8X6=48  9X6=54
2X7=14  3X7=21  4X7=28  5X7=35  6X7=42  7X7=49  8X7=56  9X7=63
2X8=16  3X8=24  4X8=32  5X8=40  6X8=48  7X8=56  8X8=64  9X8=72
2X9=18  3X9=27  4X9=36  5X9=45  6X9=54  7X9=63  8X9=72  9X9=81

In [ ]:
A = ["a","b","c"]
B = {"a":"홍1","b":"홍2","c":"홍3"}
### 위의 A, B를 C 리스트에 임의 순서로 넣기
C = [A, B, A, B, B, A]
C

[['a', 'b', 'c'],
 {'a': '홍1', 'b': '홍2', 'c': '홍3'},
 ['a', 'b', 'c'],
 {'a': '홍1', 'b': '홍2', 'c': '홍3'},
 {'a': '홍1', 'b': '홍2', 'c': '홍3'},
 ['a', 'b', 'c']]

In [ ]:
### type을 확인해서, type에 맞게 출력 처리하는 로직 만들기
for obj in C :
    print(obj, type(obj))

['a', 'b', 'c'] <class 'list'>
{'a': '홍1', 'b': '홍2', 'c': '홍3'} <class 'dict'>
['a', 'b', 'c'] <class 'list'>
{'a': '홍1', 'b': '홍2', 'c': '홍3'} <class 'dict'>
{'a': '홍1', 'b': '홍2', 'c': '홍3'} <class 'dict'>
['a', 'b', 'c'] <class 'list'>

In [ ]:
for obj in C :
    if type(obj) == list:
        for v in obj:
            print("A => ", v)

    elif type(obj) == dict:
        for k in obj.keys():
            print("B => key={} / value={}".format(k, obj[k]))

A =>  a
A =>  b
A =>  c
B => key=a / value=홍1
B => key=b / value=홍2
B => key=c / value=홍3
A =>  a
A =>  b
A =>  c
B => key=a / value=홍1
B => key=b / value=홍2
B => key=c / value=홍3
B => key=a / value=홍1
B => key=b / value=홍2
B => key=c / value=홍3
A =>  a
A =>  b
A =>  c

### 함수 만드는 순서

In [ ]:
# 1. 함수를 만들기 전에 프로그램을 별도로 테스트
# 2. 프로그램이 잘 수행되면, 그대로 복사해서 함수로 감싸기
# 3. 함수 호출 테스트
# 4. 결과 확인

### 함수 내부 프로그래밍 규칙

In [ ]:
# 텍스트와 같은 고정된 값은 사용하지 않음
# 매개변수의 변수를 사용해서 자동화 시켜야 함

In [ ]:
### 함수 생성 문법
"""
def 함수이름(매개변수1, 매개변수2,...):
    기능을 처리할 프로그래밍
    return 값1, 값2,,,,,,
"""

In [ ]:
### 정수값 2개를 받아서 합한 값을 리턴해 주는 함수 생성
# 합한 값을 리턴해 주는 함수 생성
# 함수 이름: getPlus

In [ ]:
a = 10
b = 2
rs = a+b
print(rs)

12

In [ ]:
def getPlus(a, b):
#     rs = a + b
#     return rs
    return a+b

In [ ]:
getPlus(10,2)

12

In [ ]:
def getPlus2(a=17, b=2):
    return a+b

In [ ]:
getPlus2()

19

In [ ]:
### 2개의 정수값을 매개변수로 받아서
# 첫번째 매개변수 ~ 두번째 매개변수의 값까지의 합을 계산하는기능을 만들어주세요!
# 함수이름 : getSum
# 단, 첫번째 매개변수는 두번째 매개변수보다 작은 값을 사용
# 예시 : 1과 10을 넣으면 1부터 10까지의 합이 되도록

In [ ]:
def getSum(a, b):
    sum = 0
    a<b
    for k in range(a,b+1):
        sum += k
    print(sum)

In [ ]:
getSum(1, 10)

55

In [ ]:
sum=0
for k in range(1,11):
    sum = k+ sum
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
### 두개 매개변수가 (a, b)라고 할 때
# a < b 이든, a > b 이든 합한 값 출력하기
# 예시 : a=10, b=1 이어도 55가 나오게
#         = 10 + 9 + 8 + 7 + 6,,, +1 = 55
#     : a=1, b=10이면,
#        = 1 + 2 + ... +10 = 55

In [ ]:
def getSum(a, b):
    sum = 0
    if a<b :
        for k in range(a,b+1):
            sum += k
    elif a>b :
        for k in range(b,a+1):
            sum += k
    print(sum)

getSum(9,1)

In [ ]:
def getSum(a, b):
    sum = 0
    cnt = 1
    if a>b:
        cnt = -1
    for i in range(a, b+cnt, cnt):
        sum += i
    return sum

In [ ]:
getSum(10,1)

55

In [ ]:
### (2~9사이의)정수값 1개의 매개변수를 받아서
# 해당 매개변수에 해당하는 값에 대한 구구단 출력
# - 입력된 정수값이 단이 됩니다.
# - 함수이름 : gDan1()

In [ ]:
def gDan1(dan):
    for i in range(1,10):
        print("{}X{}={}".format(dan,i,dan*i))

In [ ]:
dan = 2
for i in range(1,10):
    print("{}X{}={}".format(dan,i,dan*i))

2
4
6
8
10
12
14
16
18

In [ ]:
gDan1(3)

3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27

In [ ]:
###(2~9사이의)정수값 2개 매개변수로 받아서 구구단 처리
# 예 : 매개변수(2,3,)이면 2단~3단까지 출력
# 함수이름 : gDan2()

In [ ]:
dan = 2
for i in range(1,10):
    print("{}X{}={}".format(dan,i,dan*i))

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

In [ ]:
for d in range(dan,):
    for i in range(1,10):
        print("{}X{}={}".format(dan,i,dan*i))

TypeError: range expected at least 1 argument, got 0

In [ ]:
# 2 x 1
# 바깥쪽 고정 안쪽 증가
# a = 2
# b = 3
def gDan2(a,b):
    for dan in range(a,b+1,1):
        for i in range(1,10):
            print("{} X {} = {}".format(dan,i,dan*i))

In [ ]:
gDan2(3,7)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

In [ ]:
### class

In [ ]:
class Class_Util:
    ### class 내부에 정의하는 모든 함수의 매개변수에는 self가 있어야함
    ### 생성자 : 클래스가 생성될 때 최초에 자동으로 호출되는 함수
    def __init__(self, a, b):
        ### self로 정의된 변수들은 전역변수로 사용가능하며
        ### - 외부파일에서 접근가능
        self.a = a
        self.b = b
        
        ### class 내부에 있는 함수를 호출할 때는 self로 접근해야 합니다.
        self.getSum()
        
    def getSum(self):
        self.sum = 0
        cnt = 1
        if self.a>self.b:
            cnt = -1
        for i in range(self.a, self.b+cnt, cnt):
            self.sum += i
#         return sum

In [ ]:
c_Util = Class_Util(1,100)

In [ ]:
c_Util.a
c_Util.b
c_Util.getSum()

In [ ]:
c_Util.sum

5050